<p id="notice"><%= notice %></p>
<div class="container">
<legend><%= @customer.name %></legend>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer.number %>
</p>

<hr>
<%= link_to '<i class="icon-edit icon-white"></i> Edit'.html_safe, edit_customer_path(@customer), class: "btn btn-success" %>
<%= link_to '<i class="icon-circle-arrow-left icon-white"></i> Back'.html_safe, customers_path, class: "btn btn-success" %>
<%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, {:controller => :customers,
      :action => 'destroy' }, :method => :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

</div>