<<<<<<< HEAD
<%= simple_form_for @request, :html => { :multipart => true } do |f| %>
=======
<%= simple_form_for(@request, :html => { :multipart => true }) do |f| %>
>>>>>>> 905d73f745947c325a1dc4b452a5bda0ea929f01
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

    <legend>Sample Information</legend>

    <div class="row-fluid">
    <table class="text-center table">
      <tr>
<<<<<<< HEAD
        <td class="span4"><%= f.file_field :sample_image, label: "Upload an Image" %></td>
=======
        <td class="span4"><%= f.file_field :image, label: "Upload an Image" %></td>
>>>>>>> 905d73f745947c325a1dc4b452a5bda0ea929f01
      </tr>
      <tr>
        <td class="span4"><%= f.input :request_smd_number, as: :string, label: "SMD Number"%></td>
        <td class="span4"><%= f.input :request_date, as: :date, start_year: 1999, end_year: 2014, order: [:day, :month, :year], label: "Request Date" %></td>
        <td style=" margin-top: 20px;" class="span4"><label>Customer</label><%= collection_select :request, :request_required_for, @customers, :name, :name %><span style="margin: 0 0 10px 10px;" class="btn btn-mini btn-success"><%= link_to '<i class="icon-plus icon-white"></i> '.html_safe, new_customer_path %></span></td>
      </tr>
      
      <tr>
        <td class="span4"><%= f.input :request_brief_description, as: :string, label: "Brief Description" %></td>
        <td class="span4"><%= f.input :request_date_required, as: :date, start_year: 1999, end_year: 2014, order: [:day, :month, :year], label: "Required Date" %></td>
        <td style=" margin-top: 20px;" class="span4"><label>Designer</label><%= collection_select :request, :request_designer, @designers, :name, :name %><span style="margin: 0 0 10px 10px;" class="btn btn-mini btn-success"><%= link_to '<i class="icon-plus icon-white"></i> '.html_safe, new_designer_path %></span></td>
      </tr>

      <td class="span3"><%= f.input :request_description, as: :text, label: "Long Description" %></td>
      <td class="span3"><%= f.input :request_comments, as: :text, label: "Comments" %></td>
        <td class="span3"><label>Supplier</label><%= collection_select :request, :request_supplier, @suppliers, :name, :name %><span style="margin: 0 0 10px 10px;" class="btn btn-mini btn-success"><%= link_to '<i class="icon-plus icon-white"></i> '.html_safe, new_supplier_path %></span></td>

      <tr>
        
        <td class="span3"><%= f.input :request_colours, as: :string, label: "Colors" %></td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>

    </table>
  </div>

    <legend>Confirmed Completion dates</legend>

    <table class="text-center">
      <tr>
        <td class="span3"><%= f.input :request_confirmed_comp_date, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 1" %></td>
        <td class="span3"><%= f.input :request_confirmed_comp_date3, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 3" %></td>
        <td class="span3"><%= f.input :request_confirmed_comp_date5, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 5" %></td>
       </tr>
       <tr> 
        <td class="span3"><%= f.input :request_confirmed_comp_date2, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 2" %></td>
        <td class="span3"><%= f.input :request_confirmed_comp_date4, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 4" %></td>
        <td class="span3"><%= f.input :request_confirmed_comp_date6, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year], label: "Confirmed Date 6" %></td>
      </tr>
    </table>

    <legend>Other Information</legend>

    <table class="text-center">
      <tr>
        <td class="span3"><%= f.input :request_received, as: :string %></td>
        <td class="span3"><%= f.input :request_received_date, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year]%></td>
        <td class="span3"><%= f.input :request_date_sent, as: :date, include_blank: true, default: nil, start_year: Time.now.year, order: [:day, :month, :year] %></td>
      </tr>
      <tr>
        <td class="span3"><%= f.input :request_tracking_number, as: :string %></td>
        <td class="span3"><%= collection_select(:request, :tag_list, @statuses, :name, :name) %></td>
      </tr>
    </table>
    <br>
</div>

  <div class="container">
    <legend></legend>
    <table>
      <tr>
        <td><%= link_to '<i class="icon-circle-arrow-left icon-white"></i> Back'.html_safe, root_path, class: "btn btn-success" %></td>
        <td><%= f.button :submit, class: "btn btn-danger" %></td>
      </tr>
    </table>
  </div>
  <br><br>


<% end %>

