<!DOCTYPE html>
<html>
<head>
  <title>Smdsample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<ul class="nav">
					<li><%= link_to 'Active Requests', root_path %></li>
					<li><a href="#">Sent Requests</a></li>
					<li><a href="#">Received Requests</a></li>
				</ul>
				<ul class="nav pull-right">
					    <div class="btn-group">
					    	<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
					    		<i class="icon-edit icon-white"></i>
								Details
								<i class="icon-chevron-down icon-white"></i>
					    	</a>
					    	<ul class="dropdown-menu">
					   			<li> <%= link_to 'Suppliers', suppliers_path %> </li>
					   			<li> <%= link_to 'Customers', customers_path %> </li>
					   			<li> <%= link_to 'Designers', designers_path %> </li>
					    	</ul>
					    </div>
					<%= link_to '<i class="icon-plus icon-white"></i> Add Request'.html_safe, new_request_path, class: "btn btn-success" %>
				</ul>				
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			 <%= yield %>
		</div>
	</div>
	
</div>

</body>
</html>
